@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'Kumbh Sans';
  src: url('assets/fonts/KumbhSans-VariableFont_YOPQ,wght.ttf') format('truetype');
  font-display: swap;
  font-weight: 100 900;
}

@font-face {
  font-family: 'Gordita';
  src: url('assets/fonts/Gordita-Medium.otf') format('opentype');
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'Gordita';
  src: url('assets/fonts/Gordita-Bold.otf') format('opentype');
  font-display: swap;
  font-weight: 700;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-kumbh: 'Kumbh Sans', system-ui, sans-serif;
  --font-gordita: 'Gordita', system-ui, sans-serif;

  --color-text-1: var(--theme-text-1);
  --color-text-2: var(--theme-text-2);
  --color-text-3: var(--theme-text-3);
  --color-text-4: var(--theme-text-4);
  --color-text-5: var(--theme-text-5);

  --color-gray-1: var(--theme-gray-1);
  --color-gray-2: var(--theme-gray-2);
  --color-gray-3: var(--theme-gray-3);
  --color-gray-5: var(--theme-gray-5);

  --color-key-black: var(--theme-key-black);
  --color-text-1-dark: var(--theme-text-1-dark);
}

:root {
  --theme-primary: #c8ee44;
  --theme-primary-02: rgba(200, 238, 68, 0.2);

  --theme-secondary: #29a073;

  --theme-text-1: #1b212d;
  --theme-text-2: #929eae;
  --theme-text-3: #78778b;
  --theme-text-4: #868685;
  --theme-text-5: #626260;

  --theme-gray-1: #fafafa;
  --theme-gray-2: #f8f8f8;
  --theme-gray-3: #f5f5f5;
  --theme-gray-5: #f2f2f2;

  --theme-key-black: #363a3f;
  --theme-text-1-dark: #222937;

  --radius: 0.625rem;
  --background: #ffffff;
  --foreground: var(--theme-text-1);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: var(--theme-primary);
  --primary-foreground: var(--theme-text-1);
  --secondary: var(--theme-secondary);
  --secondary-foreground: var(--theme-text-1);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: var(--theme-gray-5);
  --ring: rgba(200, 238, 68, 0.5);

  --chart-grid: #fff4fe;

  --sidebar: var(--theme-gray-1);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --theme-gray-3: var(--theme-text-1-dark);

  --radius: 0.625rem;
  --background: var(--color-text-1);
  --foreground: var(--color-gray-1);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: var(--theme-primary);
  --primary-foreground: var(--theme-text-1);
  --secondary: var(--theme-secondary);
  --secondary-foreground: var(--theme-text-1);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: var(--theme-text-1-dark);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);

  --chart-grid: var(--theme-text-1-dark);

  --sidebar: var(--theme-text-1-dark);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/0;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.shimmer {
  animation: shimmer 2s infinite linear;
  background: linear-gradient(
    to right,
    hsl(var(--muted)) 0%,
    hsl(var(--muted-foreground) / 0.1) 50%,
    hsl(var(--muted)) 100%
  );
  background-size: 1000px 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--theme-primary-02) inset !important;
  -webkit-text-fill-color: #000 !important;
  border-color: var(--theme-primary-02) !important;
}
